<% if items.empty? %>
  <b>No results</b>
<% else %>
  <table>
  <tr>
    <th>Count</th>
    <th>Url</th>
    <th>Used in</th>
    <th>Mime Type</th>
    <th>Visits</th>
    <th>Type</th>
  </tr>
  <% items.each do |link| %>
    <tr>
      <td><%= link.count %></td>
      <td><%= link.short_link %></td>
      <td>
        <%= link_to link.issue.title, link.issue %>
      </td>
      <td><%= link.mime_type %></td>
      <td><%= link.total_visits %></td>
      <td><%= link.parent.detail_type.capitalize %></td>
    </tr>
  <% end %>
  </table>
  <%= paginate items %>
<% end %>
