<div class="modal hide fade" id="registerModal">
  <div class="modal-header">
    <h3 style="font-size:18px;font-weight:bold;">Register</h3>
  </div>
  <div class="modal-body">
    <%= form_for(:user, :url => registration_path(resource_name)) do |f| %>
      <div class="span3">
        <p>
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </p>

        <p>
          <%= f.label :email %><br>
          <%= f.text_field :email %>
        </p>

        <p>
          <%= f.label :password %><br>
          <%= f.password_field :password %>
        </p>

        <p>
          <%= f.label :password_confirmation %><br>
          <%= f.password_field :password_confirmation %>
        </p>

        <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
        <% end -%>
      </div>
  </div>
  <div class="modal-footer">
      <p>
        <%= link_to "Login", new_user_session_path, class: "btn", id: "loginLink" %>
        <%= f.submit "Register", class: "btn btn-blue" %>
      </p>
      <% end %>
  </div>
</div>
